body {
  font-family: sans-serif;
  padding: 1em;
}

.flash {
  max-width: 960px;
  padding: 3px 20px;
  margin: 10px auto 1.5em auto;
  color: #3399cc;
  background: #cbe5f2;
}

.flash p {
  font-size: 14px;
  font-weight: bold;
}

.flash.error {
  color: rgb(154, 14, 14);
  background: rgba(241, 152, 152, 0.741);
}

.flash.success {
  color: #16782c;
  background: #8eeba2bb;
}

.delete_button:hover {
  background-color: rgb(237, 122, 122);
}

.submit_button:hover {
  background-color: #8eeba2bb;
}

#signed_in_text {
  font-size: 0.9em;
  color: gray;
}
#title {
  background: -webkit-linear-gradient(#f43f0d, #eace5e, #255adf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#delete_link {
  color: rgb(211, 69, 69);
}

#delete_link:hover {
  color: rgb(154, 14, 14);
}

#page_link {
  color: rgb(80, 168, 235);
}

#page_link:hover {
  color: #255adf;
  /* rgb(10, 138, 236); */
}

a:link,
a:visited,
a:active {
  color: rgb(75, 89, 100);
  text-decoration: none;
}

a:hover {
  color: rgb(54, 51, 237);
}
