<!doctype html>
<html lang="en-US">
  <head>
    <title>Mood Map</title>
    <meta charset="UTF-8/" />
    <link
      rel="stylesheet"
      href='{{ url_for("static", filename="application.css") }}'
    />
     <script src="{{ url_for('static', filename='application.js') }}"></script>
  </head>
  </head>
  <body>
    <main>
      <div>
        {% if session['username'] %}
        <form method="post" action="{{ url_for('logout')}}">
          <p id="signed_in_text">
            Signed in as: {{session['username'].upper()}}
            <button type="submit" class="delete_button">Sign Out</button>
          </p>
        </form>
        {% else %}
        <a id=page_link href="{{ url_for('register') }}">[ Register ]</a>
        <a id=page_link href="{{ url_for('login') }}">[ Login ]</a>
        {% endif %}
      </div>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="flash {{ category }}">
              <p>{{ message }}</p>
            </div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      {% block content %}
      <!-- Filled in by the `content` block from another template file -->
      {% endblock %}
    </main>
  </body>
</html>
