<!doctype html>
<html lang="en-US">
  <head>
    <title>Mood Map</title>
    <meta charset="UTF-8/" />
    <link
      rel="stylesheet"
      href='{{ url_for("static", filename="application.css") }}'
    />
  </head>
  <body>
    <main>
      <div>
        <ul>
          <li>
            <a href="{{ url_for('register') }}">Register</a>
          </li>
          <li>
            <a href="{{ url_for('login') }}">Login</a>
          </li>
        </ul>
      </div>
      {% block content %}
      <!-- Filled in by the `content` block from another template file -->
      {% endblock %}
    </main>
  </body>
</html>
