{% extends 'layout.html' %} {% block content %}
<h2>Register:</h2>
<form method="post" action='{{ url_for("register") }}'>
  <div>
    <label for="username">
      Username:
      <input id="username" name="username" value="{{ username }}" />
    </label>
  </div>
  <br />
  <div>
    <label for="password">
      Password:
      <input id="password" name="password" type="password" />
    </label>
  </div>
  <br />
  <div><button type="submit" class="submit_button">Register</button></div>
</form>
{% endblock %}
