{% extends 'layout.html' %} {% block content%}
<h1>View Entries</h1>
<a id=page_link href="/create_entry"><strong>[ Create an Entry ]</strong></a>
{% if entries_info %}
<ul>
{% for id, date in entries_info.items() %}
<li><a href="/view_entry/{{id}}">{{date}}</a></li>
{% endfor %}
</ul>
{% else %}
<p>No entries yet ...</p>
{% endif %}
{% if valid_page_nums_list%}
<div>
<br>
<p>Entry Views</p>
{# if page num is 0 dont show prev#}
{% if page_num != 0 %}
<a href="/view_entries/{{page_num-1}}">< Previous</a>
{% endif %}
{# current #}
<a id=page_link href="/view_entries/{{page_num}}"><strong>{{page_num + 1}}</strong></a>
{# if page_num is max page view dont show next #}
{% if page_num != valid_page_nums_list[-1] %}
<a href="/view_entries/{{page_num+1}}">Next ></a>
{% endif %}

</div>
{% endif %}
{% endblock%}
