{% extends 'layout.html' %} {% block content%}
<h1>Entry from {{date}}</h1>
<div>
<p><strong>Energy </strong>{{energy_level}}</p>
<p><strong>Mood </strong>{{mood_range}}</p>

{% if emotions%}
<p><strong>Emotions </strong></p>
<ul>
{% for emotion in emotions %}
    <li>{{ emotion }} <a href="/delete_emotion/{{entry_id}}//{{emotion}}">[delete]</a></li>
{% endfor %}
</ul>
{% endif %}

{% if reflection %}
<p><strong>Reflection </strong> {{reflection}}</p></div>
<br>
{% endif %}
<div>

<a href='/edit_entry/{{entry_id}}'>Edit Entry</a>
</div>

<form action="{{ url_for('delete_entry', entry_id=entry_id) }}" 
                method="post" class='delete_data'>
    <br>
  <button type="submit" class="delete_button">Delete Entry</button>
</form>
<br>
<a href="/view_entries">View All Entries</a>
{% endblock %}
